.btn {
  padding: 12px 26px;
  border-radius: 4px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  margin-right: 10px;
}

.btn-play {
  background: #fff;
  color: #000;
}

.btn-info {
  background: rgba(109,109,110,.7);
  color: #fff;
}
