.netflix-slider {
  width: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-slide img {
  width: 100%;
  max-width: 200px;
  border-radius: 4px;
  transition: transform 0.3s;
}

.swiper-slide img:hover {
  transform: scale(1.05);
}
