.row {
  padding: 20px 40px;
}

.netflix-row img {
  width: 180px;
  border-radius: 4px;
  transition: transform .3s;
}

.netflix-row img:hover {
  transform: scale(1.1);
}

.rank {
  position: absolute;
  left: -25px;
  font-size: 120px;
  color: rgba(255,255,255,.15);
}
